<div class="register-background">
    <app-menu-bar></app-menu-bar>
    <div class="container-fluid ps-md-0">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-8 mx-auto">
                    <h3 class="login-heading" style="margin-bottom: 10px;">Profile details</h3>
                    <div class="wrapper">
                        <div class="file-upload">
                          <input type="file" />
                          <i class="fa fa-camera-retro"></i>
                        </div>
                        <div class="img-wrap">
                            <button id="clear" class="hide">x</button>
                            <img src="../../assets/img/test-user.jpg"> 
                        </div>   
                    </div>
      
                    <form> 
                      <div class="row register-form" >
                          <div class="col-md-6">
                              <div class="form-group mb-2">
                                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="profilePayload.first_name" class="form-control" placeholder={{profilePayload.first_name}} value={{profilePayload.first_name}} />
                              </div>
                              <div class="form-group mb-2">
                                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="profilePayload.last_name" class="form-control" placeholder={{profilePayload.last_name}} value={{profilePayload.last_name}} />
                              </div>
                              <div class="form-group mb-2">
                                 <select name="sex" id="sex" [ngModelOptions]="{standalone: true}" [(ngModel)]="profilePayload.sex"  class="form-control">
                                   <option value="" selected hidden>{{profilePayload.sex}}</option>
                                   <option *ngFor="let sex of Sex" [ngValue]="sex">{{sex}}</option>
                                 </select>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group mb-2">
                                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="profilePayload.country" class="form-control" placeholder={{profilePayload.country}} value={{profilePayload.country}} />
                              </div>
                              <div class="form-group mb-2">
                                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="profilePayload.city" class="form-control" placeholder={{profilePayload.city}} value={{profilePayload.city}} />
                              </div>
                              <div class="form-group mb-2">
                                <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="profilePayload.age" class="form-control" placeholder={{profilePayload.age}} value="{{profilePayload.age}}" /> 
                            </div>
                          </div>
                          <div class="col-md-12">
                              <select name="preffered_zodiac_sign" id="preffered_zodiac_sign" [ngModelOptions]="{standalone: true}" [(ngModel)]="profilePayload.preffered_zodiac_sign" class="form-control">
                                <option value="" selected hidden>{{profilePayload.preffered_zodiac_sign}}</option>
                                <option *ngFor="let zodiac of zodiacSign"[ngValue]="zodiac">{{zodiac}}</option>
                              </select>
                          </div>
                          <div class="col-md-12">
                            <textarea type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="profilePayload.personal_bio" class="form-control" placeholder={{profilePayload.personal_bio}} value={{profilePayload.personal_bio}}>{{profilePayload.personal_bio}}</textarea>
                          </div>
                        </div>
                      <div class="d-grid mt-2">
                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2 complete-btn" (click)="updateBio()" type="submit">Update Profile</button>
                      </div>
                      <div class="d-grid mt-2">
                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2 complete-btn" type="submit" (click)="deleteProfile()">Delete Profile</button>
                      </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>