<div class="background-image">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="myform form">
                    <div class="logo md-3">
                        <div class="col-md-12 text-center">
                            <h1 style="font-size: 80px;">Sign Up</h1>
                        </div>
                    </div>
                    <form [formGroup]="signupForm" (ngSubmit)="signup()">
                        <div class="form-input">
                            <input type="email" [formControlName]="'email'" name="email"  class="form-control" id="email" placeholder="Email">
                            <span *ngIf="!signupForm.get('email')?.valid && signupForm.get('email')!.touched" class="help-block">Please enter a valid email!</span>
                        </div>     
                        <div class="form-input" style="margin-top: 20px;">
                            <input type="password" [formControlName]="'password'" name="password" id="password"  class="form-control" placeholder="Password">
                            <span *ngIf="!signupForm.get('password')!.valid && signupForm.get('password')!.touched" class="help-block">Please enter a valid password!</span>
                        </div>
                        <div class="form-input" style="margin-top: 20px;">
                            <input type="password" [formControlName]="'conf_password'" name="conf_password" id="conf_password"  class="form-control" placeholder="Confirm password">
                            <span *ngIf="!signupForm.get('conf_password')!.valid && signupForm.get('conf_password')!.touched" class="help-block">Please enter a valid password!</span>
                        </div>    
                        <div class="col-md-12 text-center ">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"><span style="font-weight: bold;">Sign Up</span></button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="login-or">
                               <hr class="hr-or">
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="text-center" style="color: white;">You have account? <a routerLink="/login">Login here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>   


