<header id="header" class="d-flex flex-column justify-content-center">
    <nav class="nav-menu">
      <ul>
        <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/swipe"><i class="fa fa-share-square-o"></i> <span>Swipe</span></a></li>
        <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/match"><i class="fa fa-heart-o"></i> <span>Likes</span></a></li>
        <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/chat"><i class="fa fa-comments-o"></i> <span>Chat</span></a></li>
        <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/profile"><i class="fa fa-user-o"></i> <span>Profile</span></a></li>
      </ul>
    </nav>
</header>