<div class="bg-img">
    <div class="bg-img2">
        <div class="row">
            <div class="col">
                <img class="img1" src="../../assets/img/astroswipe.png" alt="AstroSwipe" style="width:80%; height: 25%;">
            </div>
            <div class="col">
                <img class="img2" src="../../assets/img/astre.png" alt="AstroSwipe" style="width:50%; height: 100%;">
            </div>    
        </div>
        <div class="row main-menu">
                <div class="col">
                    <button [routerLink] = "['/login']"><span>Login </span></button>
                    <button><span>Sign Up</span></button>
                </div>
            </div>
    </div>
</div>