<div class="background-chat">
    <app-menu-bar></app-menu-bar>
    <div class="d-flex justify-content-center" style="padding-top: 200px;">
        <div class="container">
            <div class="row no-gutters" >
              <div class="col-md-4 border-right">
                <div class="settings-tray">
                    <div class="friend-drawer no-gutters friend-drawer--grey">
                        <img class="profile-image" src="../../assets/img/test-user.jpg" alt="Profile img">
                        <div class="text">
                        <h6>Eu</h6>
                        </div>
                    </div>
                </div>
                <div class="search-box">
                  <div class="input-wrapper">
                    <i class="material-icons">search</i>
                    <input placeholder="Search here" type="text">
                  </div>
                </div>
                <div *ngFor="let p of people">
                  <div class="friend-drawer friend-drawer--onhover">
                    <img class="profile-image" src="../../assets/img/test-user.jpg" alt="">
                    <div class="text">
                      <h6>{{p.first_name}} {{p.last_name}}</h6>
                      <p class="text-muted">Ce faci?!</p>
                    </div>
                    <span class="time text-muted small">13:21</span>
                  </div>
                  <hr>
                </div>
                <div *ngIf="(people.length == 0)">
                  <div class="friend-drawer friend-drawer--onhover">
                    <div class="text">
                      <p class="text-muted">Nu ai matches inca. Mergi la <a [routerLink]="['/swipe']">swipe</a> si  incepe aventura AstroSwipe</p>
                    </div>
                  </div>
                </div>
                </div>
              <div class="col-md-8">
                <div class="settings-tray">
                    <div class="friend-drawer no-gutters friend-drawer--grey">
                    <img class="profile-image" src="../../assets/img/test-user.jpg" alt="">
                    <div class="text">
                      <h6>Exemplu</h6>
                      <p class="text-muted">Sunt in cautarea fericirii!AstroSwipe mi-a oferita sansa!</p>
                    </div>
                  </div>
                </div>
                <div class="chat-panel">
                  <div class="row no-gutters">
                    <div class="col-md-3">
                      <div class="chat-bubble chat-bubble--left">
                        Ce faci?
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3 offset-md-9">
                      <div class="chat-bubble chat-bubble--right">
                        Bine
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3 offset-md-9">
                      <div class="chat-bubble chat-bubble--right">
                        Am cumparat cont premiu la AstroSwipe. Vrei sa ne vedem?
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3">
                      <div class="chat-bubble chat-bubble--left">
                        Esti prima persoana care imi spune asa ceva, deci da. :)
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3">
                      <div class="chat-bubble chat-bubble--left">
                        WoW. AstroSwipe chiar a functionat.
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3">
                      <div class="chat-bubble chat-bubble--left">
                        De cand cu AstroSwipe am ocazia sa intalnesc mai multe persoane.
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3 offset-md-9">
                      <div class="chat-bubble chat-bubble--right">
                        Si cand ne vedem?
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="chat-box-tray">
                        <i class="material-icons">sentiment_very_satisfied</i>
                        <input type="text" placeholder="Type your message here...">
                        <i class="material-icons">send</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>