<div class="background-chat">
    <app-menu-bar></app-menu-bar>
    <div class="d-flex justify-content-center" style="padding-top: 200px;">
        <div class="container">
            <div class="row no-gutters">
              <div class="col-md-4 border-right">
                <div class="settings-tray">
                    <div class="friend-drawer no-gutters friend-drawer--grey">
                        <img class="profile-image" src="../../assets/img/test-user.jpg" alt="Profile img">
                        <div class="text">
                        <h6>Eu Bossu</h6>
                        </div>
                    </div>
                </div>
                <div class="search-box">
                  <div class="input-wrapper">
                    <i class="material-icons">search</i>
                    <input placeholder="Search here" type="text">
                  </div>
                </div>
                <div class="friend-drawer friend-drawer--onhover">
                  <img class="profile-image" src="../../assets/img/test-user.jpg" alt="">
                  <div class="text">
                    <h6>Ion</h6>
                    <p class="text-muted">Ce faci?!</p>
                  </div>
                  <span class="time text-muted small">13:21</span>
                </div>
                <hr>
                <div class="friend-drawer friend-drawer--onhover">
                  <img class="profile-image" src="../../assets/img/test-user.jpg" alt="">
                  <div class="text">
                    <h6>NuEu</h6>
                    <p class="text-muted">Ce faci??</p>
                  </div>
                  <span class="time text-muted small">00:32</span>
                </div>
                <hr>
                <div class="friend-drawer friend-drawer--onhover ">
                  <img class="profile-image" src="../../assets/img/test-user.jpg" alt="">
                  <div class="text">
                    <h6>Tiganu</h6>
                    <p class="text-muted">Ce faci??</p>
                  </div>
                  <span class="time text-muted small">13:21</span>
                </div>
                <hr>
                <div class="friend-drawer friend-drawer--onhover">
                  <img class="profile-image" src="../../assets/img/test-user.jpg" alt="">
                  <div class="text">
                    <h6>Jon</h6>
                    <p class="text-muted">Ce faci?..</p>
                  </div>
                  <span class="time text-muted small">13:21</span>
                </div>
                <hr>
                <div class="friend-drawer friend-drawer--onhover">
                  <img class="profile-image" src="../../assets/img/test-user.jpg" alt="">
                  <div class="text">
                    <h6>Maria</h6>
                    <p class="text-muted">Ce faci?...</p>
                  </div>
                  <span class="time text-muted small">13:21</span>
                </div>
                <hr>
                <div class="friend-drawer friend-drawer--onhover">
                  <img class="profile-image" src="../../assets/img/test-user.jpg" alt="">
                  <div class="text">
                    <h6>XXXXX</h6>
                    <p class="text-muted">Ce faci??</p>
                  </div>
                  <span class="time text-muted small">13:21</span>
                </div>
              </div>
              <div class="col-md-8">
                <div class="settings-tray">
                    <div class="friend-drawer no-gutters friend-drawer--grey">
                    <img class="profile-image" src="../../assets/img/test-user.jpg" alt="">
                    <div class="text">
                      <h6>Ion</h6>
                      <p class="text-muted">Sunt plecat cu vaca pe cmap!</p>
                    </div>
                  </div>
                </div>
                <div class="chat-panel">
                  <div class="row no-gutters">
                    <div class="col-md-3">
                      <div class="chat-bubble chat-bubble--left">
                        Ce faci?
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3 offset-md-9">
                      <div class="chat-bubble chat-bubble--right">
                        Ce faci?
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3 offset-md-9">
                      <div class="chat-bubble chat-bubble--right">
                        Ce faci?
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3">
                      <div class="chat-bubble chat-bubble--left">
                        Ce faci?
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3">
                      <div class="chat-bubble chat-bubble--left">
                        Ce faci?
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3">
                      <div class="chat-bubble chat-bubble--left">
                        Ce faci?
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3 offset-md-9">
                      <div class="chat-bubble chat-bubble--right">
                        Ce faci?
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="chat-box-tray">
                        <i class="material-icons">sentiment_very_satisfied</i>
                        <input type="text" placeholder="Type your message here...">
                        <i class="material-icons">send</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>