<div class="register-background">
    <div class="container-fluid ps-md-0">
        <div class="row g-0">
          <div class="d-none d-md-flex col-md-4 col-lg-6">
            <a [routerLink] = "['/sign-up']"><i class="fa fa-arrow-circle-o-left icon" aria-hidden="true"></i></a>
          </div>
          <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-8 mx-auto">
                    <h3 class="login-heading" style="margin-bottom: 10px;">Profile details</h3>
                    <div class="wrapper">
                        <div class="file-upload">
                          <input type="file" />
                          <i class="fa fa-camera-retro"></i>
                        </div>
                    </div>
      
                    <form [formGroup]="signupForm">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <input type="text" [formControlName]="'first_name'" class="form-control" placeholder="First Name" value="" />
                                </div>
                                <div class="form-group mb-2">
                                    <input type="text" [formControlName]="'last_name'" class="form-control" placeholder="Last Name" value="" />
                                </div>
                                <div class="form-group mb-2">
                                   <select name="sex" id="sex" [formControlName]="'sex'"  class="form-control">
                                     <option value="" selected hidden>Your sex</option>
                                     <option *ngFor="let sex of Sex" [ngValue]="sex">{{sex}}</option>
                                   </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <input type="text" [formControlName]="'country'" class="form-control" placeholder="Your Country" value="" />
                                </div>
                                <div class="form-group mb-2">
                                    <input type="text" [formControlName]="'city'" class="form-control" placeholder="Your City" value="" />
                                </div>
                                <div class="form-group mb-2">
                                  <input type="number" [formControlName]="'age'" class="form-control" placeholder="Your Age" value="" />
                              </div>
                            </div>
                            <div class="col-md-12">
                                <select name="preffered_zodiac_sign" id="preffered_zodiac_sign" [formControlName]="'preffered_zodiac_sign'"  class="form-control">
                                  <option value="" selected hidden>Your preffered zodiac sign</option>
                                  <option *ngFor="let zodiac of zodiacSign" [ngValue]="zodiac">{{zodiac}}</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                              <textarea type="text" [formControlName]="'personal_bio'" class="form-control" placeholder="Your Description"></textarea>
                            </div>
                          </div>
                            <div class="wrapper">
                              <h3 class="login-heading">Zodiac</h3>
                            </div>
                            <div class="circle-selection">
                              <div class="center"></div>
                                <div class="board">
                                  <div class="spinner-table"> 
                                    <ul class="dial">
                                      <li class="slice"><div class="label"><button class="buton" (click)="choseZodiacSign('Aquarius')"><img src="../../../assets/img/zodiac/aquarius.svg"></button></div></li>
                                      <li class="slice"><div class="label"><button class="buton" (click)="choseZodiacSign('Aries')"><img src="../../../assets/img/zodiac/aries.svg"></button></div></li>
                                      <li class="slice"><div class="label"><button class="buton" (click)="choseZodiacSign('Cancer')"><img src="../../../assets/img/zodiac/cancer.svg"></button></div></li>
                                      <li class="slice"><div class="label"><button class="buton" (click)="choseZodiacSign('Capricornus')"><img src="../../../assets/img/zodiac/capricorn.svg"></button></div></li>
                                      <li class="slice"><div class="label"><button class="buton" (click)="choseZodiacSign('Gemini')"><img src="../../../assets/img/zodiac/gemini.svg"></button></div></li>
                                      <li class="slice"><div class="label"><button class="buton" (click)="choseZodiacSign('Leo')"><img src="../../../assets/img/zodiac/leo.svg"></button></div></li>
                                      <li class="slice"><div class="label"><button class="buton" (click)="choseZodiacSign('Libra')"><img src="../../../assets/img/zodiac/libra.svg"></button></div></li>
                                      <li class="slice"><div class="label"><button class="buton" (click)="choseZodiacSign('Pisces')"><img src="../../../assets/img/zodiac/Pisces.svg"></button></div></li>
                                      <li class="slice"><div class="label"><button class="buton" (click)="choseZodiacSign('Sagittarius')"><img src="../../../assets/img/zodiac/sagittarius.svg"></button></div></li>
                                      <li class="slice"><div class="label"><button class="buton" (click)="choseZodiacSign('Scorpius')"><img src="../../../assets/img/zodiac/scorpio.svg"></button></div></li>
                                      <li class="slice"><div class="label"><button class="buton" (click)="choseZodiacSign('Taurus')"><img src="../../../assets/img/zodiac/taurus.svg"></button></div></li>
                                      <li class="slice"><div class="label"><button class="buton" (click)="choseZodiacSign('Virgo')"><img src="../../../assets/img/zodiac/virgo.svg"></button></div></li>
                                    </ul>
                                  </div>
                                </div>
                            </div>  
                        <div class="d-grid mt-2">
                          <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2 complete-btn" (click)="register()" type="submit" [routerLink] = "['/swipe']">Complete</button>
                        </div>
      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>