/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-touched{
    border: 1px solid red;    
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
