<div class="match-background">
    <div class="container mx-auto"  style="padding-top: 20px;">
        <app-menu-bar></app-menu-bar>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/img/test-user.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Username</h5>
                        <p class="card-text">Some description here!.</p>
                        <a href="#" class="btn mr-2"><i class="fa fa-times"></i> Unmatch</a>
                        <a [routerLink]="['/chat']" class="btn "><i class="fa fa-comments-o"></i> Chat</a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/img/test-user.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Username</h5>
                        <p class="card-text">Some description here!.</p>
                        <a href="#" class="btn mr-2"><i class="fa fa-times"></i> Unmatch</a>
                        <a [routerLink]="['/chat']" class="btn "><i class="fa fa-comments-o"></i> Chat</a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/img/test-user.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Username</h5>
                        <p class="card-text">Some description here!.</p>
                        <a href="#" class="btn mr-2"><i class="fa fa-times"></i> Unmatch</a>
                        <a [routerLink]="['/chat']" class="btn "><i class="fa fa-comments-o"></i> Chat</a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/img/test-user.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Username</h5>
                        <p class="card-text">Some description here!.</p>
                        <a href="#" class="btn mr-2"><i class="fa fa-times"></i> Unmatch</a>
                        <a [routerLink]="['/chat']" class="btn "><i class="fa fa-comments-o"></i> Chat</a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/img/test-user.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Username</h5>
                        <p class="card-text">Some description here!.</p>
                        <a href="#" class="btn mr-2"><i class="fa fa-times"></i> Unmatch</a>
                        <a [routerLink]="['/chat']" class="btn "><i class="fa fa-comments-o"></i> Chat</a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/img/test-user.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Username</h5>
                        <p class="card-text">Some description here!.</p>
                        <a href="#" class="btn mr-2"><i class="fa fa-times"></i> Unmatch</a>
                        <a [routerLink]="['/chat']" class="btn "><i class="fa fa-comments-o"></i> Chat</a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/img/test-user.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Username</h5>
                        <p class="card-text">Some description here!.</p>
                        <a href="#" class="btn mr-2"><i class="fa fa-times"></i> Unmatch</a>
                        <a [routerLink]="['/chat']" class="btn "><i class="fa fa-comments-o"></i> Chat</a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/img/test-user.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Username</h5>
                        <p class="card-text">Some description here!.</p>
                        <a href="#" class="btn mr-2"><i class="fa fa-times"></i> Unmatch</a>
                        <a [routerLink]="['/chat']" class="btn "><i class="fa fa-comments-o"></i> Chat</a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/img/test-user.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Username</h5>
                        <p class="card-text">Some description here!.</p>
                        <a href="#" class="btn mr-2"><i class="fa fa-times"></i> Unmatch</a>
                        <a [routerLink]="['/chat']" class="btn "><i class="fa fa-comments-o"></i> Chat</a>
                    </div>
                </div>
            </div>     
        </div>
    </div>
</div>