<div class="background-main">
    <app-menu-bar></app-menu-bar>
    <div class="content" >
        <div class="profile-card-2"
        [@cardAnimator]="animationState" 
        (@cardAnimator.done)="resetAnimationState()"
        (swipeleft)="startAnimation('slideOutLeft')"
        (swiperight)="startAnimation('slideOutRight')"
        (swipeup)="startAnimation('fadeOutUp')"
        (swipedown)="startAnimation('flipOutY')"
        *ngFor="let p of people.slice(people.length-index)">
            <img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg" class="img img-responsive">
            <span class="profile-name">{{p.first_name}} {{p.last_name}} {{p.pref_age2}}</span>
            <span class="profile-username">{{p.personal_bio}}</span>

        </div>
        <div class="col-md-12 d-flex justify-content-center swipe-buttons" *ngIf="people.length-index != -1">
            <button (click)="startAnimation('slideOutLeft')" (click)="pass()"><i class="fa fa-times"></i></button>
            <button class="button-space" (click)="startAnimation('fadeOutUp')" (click)="superLike()"><i class="fa fa-star"></i></button>
            <button class="button-space" (click)="startAnimation('slideOutRight')" (click)="like()"><i class="fa fa-heart"></i></button>
        </div>
        <div class="col-md-12 d-flex align-items-center justify-content-center noAstro" *ngIf="people.length-index == -1">
            <p>Dai un ban dar stai in fata, pentru doar 5 euro poti vedea mai multe decat crezi.</p>
            
        </div>
    </div>
    
</div>