<div class="background-image">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="myform form">
                    <div class="logo md-3">
                        <div class="col-md-12 text-center">
                            <h1 style="font-size: 80px;">Login</h1>
                        </div>
                    </div>
                    <form action="">
                        <div class="form-input">
                            <input type="email" class="" name="email"  class="form-control" id="email" placeholder="email">
                        </div>     
                        <div class="form-input" style="margin-top: 20px;">
                                <input type="password" name="password" id="password"  class="form-control" placeholder="password">
                        </div>    
                        <div class="col-md-12 text-center ">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"><span style="font-weight: bold;">Login</span></button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="login-or">
                               <hr class="hr-or">
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="text-center" style="color: white;">Don't have account? <a [routerLink] = "['/sign-up']" id="signup">Sign up here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>   


